<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>DASQUIRE - Dashboard</title>
  </head>
  <body>
    <nav class="navbar-dashboard">
      <h1 th:text="'Utente: ' + ${user.nome}">Utente: X </h1>
    </nav>
    <aside class="aside-bar-dashboard">
      <ul>
          <li>
              <a href="#">
                <span>Grafici da considerare</span>
              </a>
          </li>
          <li>
              <a href="#">
                <span>Tagged:Budget</span>
              </a>
          </li>
          <li>
              <a href="#">
                <span>Storico</span>
              </a>
          </li>
      </ul>
      <a href="/">Logout</a>
    </aside>
    <article class="cripting-container">
      <textarea class="cript-area" id="stringa-denaro" placeholder="Scrivi, e prendi consapevolezza del tuo denaro."></textarea>
      <button class="calcola" id="calcola"><h3>Calcola</h3></button>
    </article>

    <article class="lista-spese">
      <ul >
        <li>-12</li>
        <li>-12</li>
        <li>-12</li>
        <li>-12</li>
      </ul>
    </article>
    <script src="script.js"></script>
  </body>
</html>