<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>DASQUIRE - Dashboard</title>
  </head>
  <body>
    <nav class="navbar-dashboard">
      <h1 th:text="'Utente: ' + ${user.nome}">Utente: X </h1>
    </nav>
    <aside class="aside-bar-dashboard">
      <ul>
          <li>
              <a href="#">
                <span>Grafici da considerare</span>
              </a>
          </li>
          <li>
              <a href="#">
                <span>Tagged:Budget</span>
              </a>
          </li>
          <li>
              <a href="#">
                <span>Storico</span>
              </a>
          </li>
      </ul>
      <a href="/">Logout</a>
    </aside>
    <article class="cripting-container">
      <textarea class="cript-area" placeholder="cripta le tue spese"></textarea>
      <button class="calcola">
        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.4086 9.35258C23.5305 10.5065 23.5305 13.4935 21.4086 14.6474L8.59662 21.6145C6.53435 22.736 4 21.2763 4 18.9671L4 5.0329C4 2.72368 6.53435 1.26402 8.59661 2.38548L21.4086 9.35258Z" fill="colore-svg-a"/>
          </svg>
      </button>
    </article>

    <article class="lista-spese">
      <ul >
        <li>-12</li>
        <li>-12</li>
        <li>-12</li>
        <li>-12</li>
      </ul>
    </article>
  </body>
</html>