<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <title>DASQUIRE</title>
        <link rel="icon" type="image/x-icon" href="/images/dasquirel1.png">
    </head>
    
    <body>
        <nav class="navbar-index">
            <a href="/" class="nav-link">Home</a>
            <a href="/chi-siamo" class="nav-link">Chi siamo</a>
            <a href="/contatti" class="nav-link">Contatti</a>
            <a href="/altri-progetti" class="nav-link">Altri progetti</a>
        </nav>
        <div class="img-index">
            <img src="/images/dasquirel2.png">
        </div>
        <div class="btn-accedi-registrati">
            <button onclick="window.location.href='/accedi'">Accedi</button>
            <button onclick="window.location.href='/registrati'">Registrati</button>
        </div>
        <div class="container-titoli">
            <h1>DASQUIRE</h1>
            <h4>"Gestisci consapevolmente il tuo denaro"</h4>
        </div>
        
    </body>
</html>